body {
  font-family: 'Rubik', sans-serif !important;
  margin: 0px;
  background-color: #F0F0F0;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
.ui.input input {
  font-family: 'Rubik', sans-serif !important;
}

.ui.search.dropdown {
  border: 2px solid #ccc !important
}

.ui.dropdown .menu>.item {
  color: rgba(0, 0, 0, 0.4) !important
}
